/source/STM32firmware/PlusCart/PlusCart
/source/STM32firmware/PlusCart/PlusCart Zero
/source/STM32firmware/PlusCart/UnoCart
/source/STM32firmware/PlusCart/UnoCart Zero
/source/STM32firmware/PlusCart/.settings/language.settings.xml
